<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <typeAlias type="com.app.kkiri.domain.vo.SpaceVO" alias="spaceVO"/>
        <typeAlias type="com.app.kkiri.domain.dto.SpaceDetailUserDTO" alias="spaceDetailUserDTO"/>
        <typeAlias type="com.app.kkiri.domain.vo.SpaceUserVO" alias="spaceUserVO"/>
        <typeAlias type="com.app.kkiri.domain.vo.TagVO" alias="tagVO"/>
        <typeAlias type="com.app.kkiri.domain.dto.TagDTO" alias="tagDTO"/>
        <typeAlias type="com.app.kkiri.domain.vo.PostVO" alias="postVO"/>
        <typeAlias type="com.app.kkiri.domain.dto.PostDTO" alias="postDTO"/>
        <typeAlias type="com.app.kkiri.domain.vo.PostImgVO" alias="postImgVO"/>
        <typeAlias type="com.app.kkiri.domain.vo.PostBookmarkVO" alias="postBookmarkVO"/>
        <typeAlias type="com.app.kkiri.domain.vo.UserVO" alias="userVO"/>
        <typeAlias type="com.app.kkiri.domain.vo.CommentVO" alias="commentVO"/>
        <typeAlias type="com.app.kkiri.domain.dto.CommentDTO" alias="commentDTO"/>
    </typeAliases>
</configuration>