<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.kkiri.mapper.CommentsMapper">
    <insert id="insert">
        INSERT INTO comments (comment_content, comment_ref_yn, comment_group, post_id, user_id)
        VALUES (#{commentContent}, #{commentRefYn}, #{commentId}, #{postId}, #{userId})
        <selectKey keyProperty="commentId" order="BEFORE" resultType="long">
            SELECT `auto_increment`
            FROM information_schema.tables
            WHERE table_schema = 'kkiri' AND table_name = 'comments'
        </selectKey>
    </insert>

    <insert id="insertReply">
        INSERT INTO comments (comment_content, comment_ref_yn, comment_group, post_id, user_id)
        VALUES (#{commentContent}, #{commentRefYn}, #{commentGroup}, #{postId}, #{userId})
        <selectKey keyProperty="commentId" order="BEFORE" resultType="long">
            SELECT `auto_increment`
            FROM information_schema.tables
            WHERE table_schema = 'kkiri' AND table_name = 'comments'
        </selectKey>
    </insert>

    <delete id="delete">
        DELETE FROM comments
        WHERE comment_id=#{commentId}
    </delete>

    <select id="selectById" resultType="commentVO">
        SELECT comment_id, comment_content, comment_ref_yn, comment_group, comment_register_date, user_id FROM comments
        WHERE post_id=#{postId}
        ORDER BY comment_group, comment_id
    </select>

    <select id="selectByGroup" resultType="long">
        SELECT user_id FROM comments
        WHERE comment_id=#{commentGroup}
    </select>

    <select id="getTotal" resultType="long">
        SELECT COUNT(comment_id) FROM comments
        WHERE post_id=#{postId}
    </select>

    <!-- userId 와 startIndex 를 사용하여 사용자가 작성한 댓글을 조회 -->
    <select id="selectByUserIdAndStartIndex" resultType="commentVO">
        SELECT comment_id, comment_content, comment_register_date, post_id
        FROM comments
        WHERE user_id = #{userId}
        ORDER BY comment_register_date DESC, comment_id DESC
        LIMIT #{startIndex}, 10;
    </select>
    
    <!-- userId 를 사용하여 사용자가 작성한 댓글의 수를 조회 -->
    <select id="getTotalByUserId" resultType="long">
        SELECT COUNT(comment_id)
        FROM comments
        WHERE user_id = #{userId}
    </select>
</mapper>