<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.kkiri.mapper.DefaultImgsMapper">
    <select id="selectByOrder" resultType="defaultImgVO">
        SELECT DEFAULT_IMG_NAME, DEFAULT_IMG_PATH, DEFAULT_IMG_UUID, DEFAULT_IMG_SIZE FROM DEFAULTIMGS
        WHERE DEFAULT_IMG_ORDER=#{defaultImgOrder}
    </select>

    <insert id="insert">
        <selectKey keyProperty="defaultImgId" order="BEFORE" resultType="long">
            SELECT SEQ_DEFAULTIMGS.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO DEFAULTIMGS(DEFAULT_IMG_ID, DEFAULT_IMG_NAME, DEFAULT_IMG_PATH, DEFAULT_IMG_UUID, DEFAULT_IMG_SIZE, DEFAULT_IMG_ORDER)
        VALUES (#{defaultImgId}, #{defaultImgName}, #{defaultImgPath}, #{defaultImgUuid}, #{defaultImgSize}, #{defalutImgOrder})
    </insert>

    <delete id="delete">
        DELETE FROM DEFAULTIMGS
        WHERE DEFAULT_IMG_ID=#{defaultImgId}
    </delete>
</mapper>