<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.kkiri.mapper.MentionMapper">
    <insert id="insert">
        INSERT INTO mention (post_id, user_id)
        VALUES (#{postId}, #{userId})
    </insert>

    <select id="selectById" resultType="spaceUserVO">
        SELECT u.user_id, u.user_nickname, u.profile_img_path
        FROM mention m INNER JOIN space_users u
        ON m.user_id = u.user_id
        WHERE post_id=#{postId} AND space_id=#{spaceId}
    </select>

    <delete id="delete">
        DELETE FROM mention
        WHERE post_id=#{postId}
    </delete>
</mapper>
