<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.kkiri.mapper.PostTagsMapper">
    <insert id="insert">
        INSERT INTO post_tags (post_id, tag_id)
        VALUES (#{postId}, #{tagId})
    </insert>

    <delete id="delete">
        DELETE FROM post_tags
        WHERE post_id=#{postId}
    </delete>

    <select id="selectById" resultType="tagVO">
        SELECT pt.tag_id, t.tag_name
        FROM post_tags pt INNER JOIN tags t
        ON pt.tag_id=t.tag_id
        WHERE post_id=#{postId}
    </select>
</mapper>