<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.kkiri.mapper.PostsMapper">
    <insert id="insert">
        <selectKey keyProperty="postId" order="BEFORE" resultType="long">
            SELECT SEQ_POSTS.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO POSTS (POST_ID, POST_TITLE, POST_LOCATION_KEYWORD, POST_LOCATION_LAT, POST_LOCATION_LNG, POST_BEGIN_DATE, POST_END_DATE, POST_CONTENT, SPACE_ID, USER_ID)
        VALUES (#{postId}, #{postTitle}, #{postLocationKeyword}, #{postLocationLat}, #{postLocationLng}, TO_DATE(#{postBeginDate}, 'YYYY-MM-DD HH24:MI:SS'), TO_DATE(#{postEndDate}, 'YYYY-MM-DD HH24:MI:SS'), #{postContent}, #{spaceId}, #{userId})
    </insert>

    <delete id="delete">
        DELETE FROM POSTS
        WHERE POST_ID=#{postId}
    </delete>

    <update id="update">
        UPDATE POSTS
        SET POST_TITLE=#{postTitle}, POST_LOCATION_KEYWORD=#{postLocationKeyword},
            POST_LOCATION_LAT=#{postLocationLat}, POST_LOCATION_LNG=#{postLocationLng},
            POST_BEGIN_DATE=TO_DATE(#{postBeginDate}, 'YYYY-MM-DD HH24:MI:SS'), POST_END_DATE=TO_DATE(#{postEndDate}, 'YYYY-MM-DD HH24:MI:SS'),
            POST_CONTENT=#{postContent}, POST_UPDATE_DATE=SYSDATE
        WHERE POST_ID=#{postId}
    </update>

    <select id="selectById" resultType="postVO">
        SELECT POST_TITLE, POST_LOCATION_KEYWORD, POST_LOCATION_LAT, POST_LOCATION_LNG, POST_BEGIN_DATE, POST_END_DATE, POST_CONTENT, POST_REGISTER_DATE, POST_UPDATE_DATE, SPACE_ID, USER_ID FROM POSTS
        WHERE POST_ID=#{postId}
    </select>

    <select id="selectByfilter" parameterType="hashmap" resultType="postVO">
        SELECT POST_ID, POST_TITLE, POST_LOCATION_KEYWORD, POST_REGISTER_DATE, POST_UPDATE_DATE,
        POST_LOCATION_LAT, POST_LOCATION_LNG
        FROM
            (
            SELECT ROWNUM R, POST_ID, POST_TITLE, POST_LOCATION_KEYWORD, POST_REGISTER_DATE, POST_UPDATE_DATE,
            POST_LOCATION_LAT, POST_LOCATION_LNG
            FROM
                (SELECT DISTINCT(p.POST_ID) POST_ID, POST_TITLE, POST_LOCATION_KEYWORD, POST_REGISTER_DATE, POST_UPDATE_DATE,
                POST_LOCATION_LAT, POST_LOCATION_LNG
                FROM POSTS p LEFT JOIN POST_TAGS t
                ON p.POST_ID=t.POST_ID
                WHERE p.SPACE_ID=#{spaceId}
                <if test="keyword != null">
                    AND POST_TITLE LIKE '%'||#{keyword}||'%' OR POST_CONTENT LIKE '%'||#{keyword}||'%'
                </if>
                <if test="dateList != null and dateList.size != 0">
                    <foreach collection="dateList" item="date" index="index">
                        <choose>
                            <when test="index == 0">
                                AND #{date} BETWEEN POST_BEGIN_DATE AND POST_END_DATE
                            </when>
                            <when test="index != 0">
                                OR #{date} BETWEEN POST_BEGIN_DATE AND POST_END_DATE
                            </when>
                        </choose>
                    </foreach>
                </if>
                <if test="tags != null and tags.size != 0">
                    AND t.TAG_ID IN
                    <foreach collection="tags" item="tag" separator="," index="index" open="(" close=")">
                        #{tag}
                    </foreach>
                </if>
                <if test="writers != null and writers.size != 0">
                    AND USER_ID IN
                    <foreach collection="writers" item="writer" separator="," index="index" open="(" close=")">
                        #{writer}
                    </foreach>
                </if>
                ORDER BY
                POST_REGISTER_DATE DESC
                ) D2
            <![CDATA[
            WHERE ROWNUM <= #{page} * #{amount}
        ) WHERE R > (#{page} - 1) * #{amount}
        ]]>
    </select>

    <select id="getTotal" resultType="_int">
        SELECT COUNT(POST_ID)
        FROM
        (
        SELECT ROWNUM R, POST_ID
        FROM
        (SELECT DISTINCT(p.POST_ID) POST_ID
        FROM POSTS p LEFT JOIN POST_TAGS t
        ON p.POST_ID=t.POST_ID
        WHERE p.SPACE_ID=#{spaceId}
        <if test="keyword != null">
            AND POST_TITLE LIKE '%'||#{keyword}||'%' OR POST_CONTENT LIKE '%'||#{keyword}||'%'
        </if>
        <if test="dateList != null and dateList.size != 0">
            <foreach collection="dateList" item="date" index="index">
                <choose>
                    <when test="index == 0">
                        AND #{date} BETWEEN POST_BEGIN_DATE AND POST_END_DATE
                    </when>
                    <when test="index != 0">
                        OR #{date} BETWEEN POST_BEGIN_DATE AND POST_END_DATE
                    </when>
                </choose>
            </foreach>
        </if>
        <if test="tags != null and tags.size != 0">
            AND t.TAG_ID IN
            <foreach collection="tags" item="tag" separator="," index="index" open="(" close=")">
                #{tag}
            </foreach>
        </if>
        <if test="writers != null and writers.size != 0">
            AND USER_ID IN
            <foreach collection="writers" item="writer" separator="," index="index" open="(" close=")">
                #{writer}
            </foreach>
        </if>) D2
        <![CDATA[
            WHERE ROWNUM <= #{page} * #{amount}
        ) WHERE R > (#{page} - 1) * #{amount}
        ]]>
    </select>
</mapper>