<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.kkiri.mapper.PostsMapper">
    <insert id="insert">
        INSERT INTO posts (post_title, post_location_keyword, post_location_lat, post_location_lng, post_begin_date, post_end_date, post_content, space_id, user_id)
        VALUES (#{postTitle}, #{postLocationKeyword}, #{postLocationLat}, #{postLocationLng}, STR_TO_DATE(#{postBeginDate}, '%Y-%m-%d %H:%i:%s'), STR_TO_DATE(#{postEndDate}, '%Y-%m-%d %H:%i:%s'), #{postContent}, #{spaceId}, #{userId})
        <selectKey keyProperty="postId" order="AFTER" resultType="long">
            SELECT MAX(POST_ID) FROM posts
        </selectKey>
    </insert>

    <delete id="delete">
        DELETE FROM posts
        WHERE post_id=#{postId}
    </delete>

    <update id="update">
        UPDATE posts
        SET post_title=#{postTitle}, post_location_keyword=#{postLocationKeyword},
            post_location_lat=#{postLocationLat}, post_location_lng=#{postLocationLng},
            post_begin_date=STR_TO_DATE(#{postBeginDate}, '%Y-%m-%d %H:%i:%s'), post_end_date=STR_TO_DATE(#{postEndDate}, '%Y-%m-%d %H:%i:%s'),
            post_content=#{postContent}, post_update_date=NOW()
        WHERE post_id=#{postId}
    </update>

    <select id="selectById" resultType="postVO">
        SELECT post_title, post_location_keyword, post_location_lat, post_location_lng, post_begin_date, post_end_date, post_content, post_register_date, post_update_date, space_id, user_id
        FROM posts
        WHERE post_id=#{postId}
    </select>

    <select id="selectByFilter" parameterType="hashmap" resultType="postVO">
        SELECT DISTINCT(p.post_id) post_id, post_title, post_location_keyword, post_register_date, post_update_date, post_location_lat, post_location_lng, space_id
        FROM posts p
        LEFT JOIN post_tags t
        ON p.post_id=t.post_id
        WHERE p.space_id = #{spaceId}
        <if test="keyword != null">
            AND post_title LIKE CONCAT('%',#{keyword},'%')
        </if>
        <if test="dateList != null and dateList.size != 0">
            <foreach collection="dateList" item="date" index="index">
                <choose>
                    <when test="index == 0">
                        AND #{date} BETWEEN post_begin_date AND post_end_date
                    </when>
                    <when test="index != 0">
                        OR #{date} BETWEEN post_begin_date AND post_end_date
                    </when>
                </choose>
            </foreach>
        </if>
        <if test="tags != null and tags.size != 0">
            AND t.tag_id IN
            <foreach collection="tags" item="tag" separator="," index="index" open="(" close=")">
                #{tag}
            </foreach>
        </if>
        <if test="writers != null and writers.size != 0">
            AND user_id IN
            <foreach collection="writers" item="writer" separator="," index="index" open="(" close=")">
                #{writer}
            </foreach>
        </if>
        ORDER BY
        post_register_date DESC
        LIMIT #{startIndex}, #{amount}
    </select>

    <select id="getTotal" resultType="_int">
        SELECT COUNT(x.post_id)
        FROM (
            SELECT DISTINCT(p.post_id) post_id, space_id
            FROM posts p LEFT JOIN post_tags t
            ON p.post_id=t.post_id
            WHERE p.space_id = #{spaceId}
            <if test="keyword != null">
                AND post_title LIKE CONCAT('%',#{keyword},'%')
            </if>
            <if test="dateList != null and dateList.size != 0">
                <foreach collection="dateList" item="date" index="index">
                    <choose>
                        <when test="index == 0">
                            AND #{date} BETWEEN post_begin_date AND post_end_date
                        </when>
                        <when test="index != 0">
                            OR #{date} BETWEEN post_begin_date AND post_end_date
                        </when>
                    </choose>
                </foreach>
            </if>
            <if test="tags != null and tags.size != 0">
                AND t.tag_id IN
                <foreach collection="tags" item="tag" separator="," index="index" open="(" close=")">
                    #{tag}
                </foreach>
            </if>
            <if test="writers != null and writers.size != 0">
                AND user_id IN
                <foreach collection="writers" item="writer" separator="," index="index" open="(" close=")">
                    #{writer}
                </foreach>
            </if>
        ) x
    </select>

    <!-- userId 를 사용하여 post 를 삭제 -->
    <delete id="deleteByUserId">
        DELETE FROM posts
        WHERE user_Id = #{userId}
    </delete>

    <!-- userId 를 사용해서 사용자가 북마크한 게시글 정보를 조회 -->
    <select id="selectBookmarkedPosts" resultType="postVO">
        SELECT p.post_id, p.post_title, p.post_register_date
        FROM post_bookmarks pb
        INNER JOIN posts p
        ON pb.post_id = p.post_id
        WHERE pb.user_id = #{userId}
        AND pb.bookmark_yn = TRUE
        ORDER BY p.post_register_date DESC, p.post_id DESC
        LIMIT #{startIndex}, 10;
    </select>

    <!-- userId 를 사용하여 사용자가 작성한 게시글 조회 -->
    <select id="selectByUserId" resultType="postVO">
        SELECT space_id, post_id, post_title, post_register_date
        FROM posts
        WHERE user_id = #{userId}
        ORDER BY post_register_date DESC, post_id DESC
        LIMIT #{startIndex}, 10;
    </select>

    <!-- userId 를 사용하여 사용자가 작성한 게시글 수를 조회 -->
    <select id="getTotalByUserId" resultType="long">
        SELECT COUNT(post_id) FROM posts
        WHERE user_id = #{userId}
    </select>
</mapper>