<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.kkiri.mapper.SpacesMapper">
    <select id="selectAll" resultType="spaceVO">
        SELECT s.space_id, space_name, space_icon_path
        FROM spaces s
        INNER JOIN space_users su
        ON s.space_id = su.space_id
        WHERE su.user_id = #{userId}
        ORDER BY space_signup_date DESC
    </select>

    <select id="selectById" resultType="spaceVO">
        SELECT space_id, space_name, space_description, space_pw, space_user_tally, space_register_date, space_update_date, space_icon_name, space_icon_path, space_icon_uuid, space_icon_size, space_code
        FROM spaces
        WHERE space_id = #{spaceId}
    </select>

    <select id="selectByCodeAndPw" resultType="Long">
        SELECT space_id
        FROM spaces
        WHERE space_code=#{spaceCode} AND space_pw=#{spacePw}
    </select>

    <insert id="insert">
        INSERT INTO spaces (space_name, space_description, space_pw, space_code, space_user_tally, space_icon_name, space_icon_path, space_icon_uuid, space_icon_size)
        VALUES(#{spaceName}, #{spaceDescription}, #{spacePw}, #{spaceCode}, #{spaceUserTally}, #{spaceIconName}, #{spaceIconPath}, #{spaceIconUuid}, #{spaceIconSize})
        <selectKey keyProperty="spaceId" order="AFTER" resultType="long">
            SELECT MAX(space_id) FROM spaces
        </selectKey>
    </insert>

    <delete id="delete">
        DELETE FROM spaces
        WHERE space_id=#{spaceId}
    </delete>

    <update id="update">
        UPDATE spaces
        SET space_name=#{spaceName},
            space_description=#{spaceDescription},
            space_pw=#{spacePw},
            space_icon_name=#{spaceIconName},
            space_icon_path=#{spaceIconPath},
            space_icon_uuid=#{spaceIconUuid},
            space_icon_size=#{spaceIconSize},
            space_update_date = SYSDATE()
        WHERE space_id=#{spaceId}
    </update>

    <select id="getTally" resultType="int">
        SELECT space_user_tally FROM spaces
        WHERE space_id=#{spaceId}
    </select>

    <update id="updateTally">
        UPDATE spaces
        SET space_user_tally=#{spaceUserTally}
        WHERE space_id=#{spaceId}
    </update>

    <delete id="deleteByUserId">
        DELETE s
        FROM spaces s
        INNER JOIN space_users su
        ON s.space_id = su.space_id
        WHERE s.space_user_tally = 1
        AND su.user_id = #{userId}
        AND su.user_admin_yn = TRUE;
    </delete>
</mapper>