<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.app.kkiri.mapper.TagsMapper">
    <select id="selectAll" resultType="tagVO">
        SELECT tag_id, tag_name FROM tags
        WHERE space_id=#{spaceId}
    </select>

    <insert id="insert">
        INSERT INTO tags(tag_name, space_id)
        VALUES (#{tagName}, #{spaceId})
        <selectKey keyProperty="tagId" order="AFTER" resultType="long">
            SELECT MAX(TAG_ID) FROM tags
        </selectKey>
    </insert>

    <select id="getTagCnt" resultType="int">
        SELECT COUNT(tag_id) FROM tags
        WHERE space_id=#{spaceId}
    </select>

    <delete id="delete">
        DELETE FROM tags
        WHERE tag_id=#{tagId}
    </delete>

    <select id="selectRecentTag" resultType="tagVO">
        SELECT tag_id, tag_name, space_id
        FROM (
                 SELECT tag_id, tag_name, space_id
                 FROM tags
                 ORDER BY tag_id DESC
             ) D1
        WHERE ROWNUM = 1
    </select>
</mapper>